# Common dependencies
-r requirements-common.txt

# Dependencies for NVIDIA GPUs
nvidia-ml-py == 12.555.43
torch == 2.6.0; platform_system == 'Linux'
torchvision == 0.21.0; platform_system == 'Linux'  # for phi3v
xformers == 0.0.29.post3; platform_system == 'Linux' and platform_machine == 'x86_64' # Requires PyTorch 2.6.0
triton >= 3.0.0; platform_system == 'Linux'

# Windows dependencies
winloop; platform_system == 'Windows'
tornado; platform_system == 'Windows'
