# testing
pytest
tensorizer>=2.9.0
pytest-forked
pytest-asyncio
pytest-rerunfailures
pytest-shard

# testing utils
awscli
einops # required for MPT
httpx
peft
requests
ray
sentence-transformers # required for embedding
compressed-tensors==0.8.0 # required for compressed-tensors
timm # required for internvl test
transformers_stream_generator  # for qwen test

# Benchmarking
aiohttp

# quantization
bitsandbytes==0.45.3